body {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.page__container {
  height: 100vh;
  position: relative;
  width: 100vw;
}

.page {
  background-position: center;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.page__overlay {
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.page__title {
  margin: 40px;
  text-align: center;
}

.grid-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, 220px);
  justify-content: center;
  margin: 40px;
}

.dial {
  background: rgba(255, 255, 255, 0.9);
  border: none;
  box-shadow: rgba(50, 50, 93, 0.1) 0px 7px 14px,
    rgba(0, 0, 0, 0.08) 0px 3px 6px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 80px;
  height: 80px;
  padding: 0;
  position: relative;
  text-decoration: none;
  width: 100%;
}

.dial__title-area {
  align-items: center;
  display: flex;
  justify-content: center;
}

.dial__title {
  color: rgb(10, 102, 87);
  font-size: 16px;
  font-weight: 100;
  text-align: center;
}

.dial__icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  height: 80px;
  width: 80px;
}

.dial:hover {
  background: white;
}

.add-dial__button {
  background: rgba(255, 255, 255, 0.3);
  border: none;
}

.add-dial__text {
  color: white;
  font-size: 20px;
  font-weight: 100;
}

.add-dial__button:hover {
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.dial-modal {
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.1) 0px 15px 35px,
    rgba(0, 0, 0, 0.07) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 15vh auto;
  min-width: 420px;
  outline: none;
  padding: 30px;
  width: 50vw;
}

.ReactModal__Content--before-close {
  display: none;
  transition: all 150ms ease-out;
}

.dial-modal__title {
  color: #888;
  font-weight: 100;
  margin-bottom: 30px;
}

.dial-modal__form {
  display: flex;
  flex-direction: column;
}

.dial-modal__field {
  align-items: center;
  display: grid;
  grid-template-columns: 120px 300px;
  margin: 10px;
}

.field__label {
  color: #888;
}

.field__input {
  padding: 8px;
}

.dial-modal__buttons {
  display: flex;
  justify-content: space-around;
  margin: 25px;
}

.dial-modal__button {
  border: none;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.1) 0px 7px 14px,
    rgba(0, 0, 0, 0.08) 0px 3px 6px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 25px;
}

.button--primary:disabled {
  background-color: #666 !important;
  cursor: auto;
}

.button--secondary {
  background-color: #bbb;
}
